@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
html,
body {
  accent-color: #0ba659 !important;
  color: #000000;
  font-family: "Gotham";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
@media (max-width: 980px) {
  html,
  body {
    font-size: 14px;
  }
}

p {
  line-height: 1.3;
}

.font-bold {
  font-family: "Gotham Bold";
}

a {
  color: #000000;
}

.link-primary {
  color: #0ba659;
}

.btn {
  padding: 1rem 1.3rem;
}
.btn:hover {
  color: white;
  background-color: #0ba659;
}

.svg-hover svg {
  fill: white;
}
.svg-hover svg:hover {
  fill: #0ba659;
}

.link-hover:hover {
  color: #0ba659;
}

.bg-gray-700 {
  background-color: #4e5252 !important;
}

.text-primary {
  color: #0ba659;
}

.text-secondary {
  color: #2d302f;
}

.bg-primary {
  background-color: #0ba659;
}

.bg-secondary {
  background-color: #2d302f;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.logo img {
  width: 120px;
}
@media (max-width: 980px) {
  .logo img {
    width: 110px;
  }
}

@media (max-width: 980px) {
  nav {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0ba659;
    left: 0;
    height: 100vh;
    text-align: center;
    place-content: center;
  }
}
nav li {
  display: inline-block;
  margin-left: 2.6rem;
}
nav li a {
  transition: color 0.2s ease-in-out;
  padding-bottom: 0.4rem;
}
nav li a:hover {
  border-bottom: 2px solid white;
}
@media (max-width: 980px) {
  nav li {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-family: "Gotham Bold";
  }
}

.active-nav {
  border-bottom: 2px solid white;
}

.header-dark nav li a {
  color: black;
}
.header-dark nav li a:hover {
  border-bottom: 2px solid black;
}
.header-dark .active-nav {
  border-bottom: 2px solid black;
}
.header-dark #nav-menu > span {
  background-color: black;
}
.header-dark #nav-menu.active > span:nth-child(1),
.header-dark #nav-menu.active > span:nth-child(3) {
  background-color: black;
}

.nav-footer li a:hover {
  color: #0ba659;
}

.fade-in-2 {
  display: grid;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#nav-menu {
  cursor: pointer;
  display: none;
  width: 30px;
  z-index: 3000;
}
@media (max-width: 980px) {
  #nav-menu {
    display: inline-block;
  }
}

#nav-menu > span {
  background-color: white;
  border-radius: 9999px;
  display: block;
  height: 2px;
  width: 30px;
}

#nav-menu > span:not(:last-child) {
  margin-bottom: 8px;
}

#nav-menu,
#nav-menu > span {
  transition: all 0.4s ease;
}

#nav-menu.active {
  transform: rotate(45deg);
  transition-delay: 0.8s;
}

#nav-menu.active > span:nth-child(2) {
  width: 0;
}

#nav-menu.active > span:nth-child(1),
#nav-menu.active > span:nth-child(3) {
  background-color: white;
  transition-delay: 0.4s;
}

#nav-menu.active > span:nth-child(1) {
  transform: translateY(9px);
}

#nav-menu.active > span:nth-child(3) {
  background-color: white;
  transform: translateY(-9px) rotate(90deg);
}

#home {
  background-color: black;
  position: relative;
}

.home-title {
  position: absolute;
  right: 10vw;
  top: 45%;
}
.home-title .home-title-2 {
  line-height: 1;
}
.home-title .home-title-2 .line {
  width: 68px;
  height: 2px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
}
.home-title .home-title-1 .iso {
  margin-top: 26px;
  margin-right: -12px;
}
@media (max-width: 980px) {
  .home-title {
    right: 2.5rem;
  }
}

.social-media {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  z-index: 2000;
}
.social-media a {
  display: inline-block;
  margin-right: 0.8rem;
  height: 22px;
  width: 22px;
}
.social-media a svg {
  height: 100%;
  width: 100%;
  fill: #fff;
}
.social-media a svg:hover {
  fill: #0ba659;
}

.social-media-footer a {
  display: inline-block;
  margin-right: 0.8rem;
  height: 22px;
  width: 22px;
}
.social-media-footer a svg {
  height: 100%;
  width: 100%;
  fill: #fff;
}
.social-media-footer a svg:hover {
  fill: #0ba659;
}

.whatsapp {
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
}
.whatsapp img {
  height: 60px;
  width: 60px;
}
@media (max-width: 980px) {
  .whatsapp {
    width: 3.3rem;
  }
}

.drop-shadow-hover:hover {
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.75));
}

.novedades-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

input,
textarea {
  border: 2px solid black;
  border-radius: 0;
  padding: 12px 20px;
  color: black;
  font-family: inherit;
}

button {
  padding: 1rem 2rem;
  display: block;
}
button:hover {
  background-color: #2d302f;
}

@media (max-width: 980px) {
  .indicator {
    display: none;
  }
}

@media (max-width: 980px) {
  .text-9xl {
    font-size: 6rem;
  }
}

@media (max-width: 980px) {
  .text-8xl {
    font-size: 4rem;
  }
}

@media (max-width: 980px) {
  .text-7xl {
    font-size: 3.5rem;
  }
}

@media (max-width: 980px) {
  .text-3xl {
    font-size: 1.6rem;
  }
}

@media (max-width: 980px) {
  .text-2xl {
    font-size: 1.2rem;
  }
}

.nav-slideshow:hover {
  background-color: transparent;
}

.bg-icon {
  background-image: url("../assets/bg-icon.svg");
  background-position-y: 19px;
  background-repeat: no-repeat;
  padding-left: 20px;
}
@media (max-width: 980px) {
  .bg-icon {
    background-position-y: 9px;
  }
}

.bg-icon-home {
  background-position-y: 26px;
  padding-left: 16px;
}

.left-15 {
  left: 15%;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.indicators {
  bottom: 2.5rem;
  position: absolute;
  width: 100%;
  z-index: 2000;
}
.indicators .indicator {
  border: 1px solid white;
  cursor: pointer;
  height: 12px;
  margin: 0 10px;
  width: 12px;
}
.indicators .indicator:hover {
  background-color: white;
}
.indicators .indicator.active {
  background-color: white;
}

.each-slide-effect {
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */