@charset "utf-8";

html,
body {
  accent-color: $color-primary;
  color: $text-color-primary;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  @media (max-width: 980px) {
    font-size: 16px;
  }
}

//Text

p {
  line-height: 1.3;
}
.font-bold {
  font-family: $font-bold;
}

//Links

a {
  color: $text-color-primary;
}
.link-primary {
  color: $color-primary;
}

//Colors

.text-primary {
  color: $color-primary;
}
.text-secondary {
  color: $color-secondary;
}
.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}
